<div class="px-2 py-2 my-4 text-center">
  <img class="d-block mx-auto mb-4" src="https://cdn.tecconcursos.com.br/figuras/3b71f59a-daa3-4f72-ad99-d778d21aeb1e" alt=""
    width="72" height="57">
  <h1 class="display-5 fw-bold text-body-emphasis">Desafio TJRJ Erlimar</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Este site é a implementação do desafio proposto pelo TJRJ
      cujo objetivo é criar um projeto utilizando as boas práticas de mercado e apresentar o
      mesmo demonstrando o passo a passo de sua criação (base de dados, tecnologias, aplicação,
      metodologias, frameworks, etc).
    </p>
  </div>
</div>
